:host, 
html, body {
  height: 100%;
  margin: 0;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* todo el alto de la pantalla */
}

.contenido-principal {
  flex: 1; /* ocupa todo el espacio entre header y footer */
  background-color: whitesmoke;
}
.header{
    background-color: #fde811;
}
