.footer {
    background-color:#010000;
    color: white;
    padding: 30px 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .footer-logo img {
    width: 60px;
    margin-bottom: 10px;
  }
  
  .footer-links,
  .footer-social {
    display: flex;
    flex-direction: column;
  }
  
  .footer-links a,
  .footer-social a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
  }
  
  .footer-social .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .footer-social i {
    font-size: 1.2rem;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 15px;
  }
  
  .footer-links a:hover,
  .footer-social a:hover {
    color: #ffca28; /* Amarillo dorado, puedes cambiarlo por el color que prefieras */
    text-decoration: underline;
    transition: color 0.3s ease;
  }
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-links,
    .footer-social {
      align-items: center;
    }
  }
  