<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="https://i.postimg.cc/63KBTFGb/logo-Proyecto-removebg-preview.png" alt="Logo" />
      <h3>TuTienda FC</h3>
    </div>

    <div class="footer-links">
      <h4>Enlaces</h4>
      <a routerLink="inicio">Inicio</a>
      <a routerLink="categorias/adultos">Productos de Adultos</a>
      <a routerLink="categorias/ninos">Productos de Niños</a>
      <a (click)="abrirFormularioContacto(); sidenav.close()" routerLink="/contacto" >Contáctanos</a>
      <a href="#">Política de privacidad</a>
    </div>

    <div class="footer-social">
      <h4>Síguenos</h4>
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TuTienda FC. Todos los derechos reservados.</p>
  </div>
</footer>
